@page "/drdblaze/textincolumns"
@page "/textincolumns"

<div class="container-fluid   "  style="width: 2000px; ">
 <div class="row">
    <div class="col-3">
     <textarea class="form-control" id="int-Textarea1"
         @bind="@Transcript" 
        ></textarea>
    </div>
    <div class="col-2" >
        <label for="customRange2" class="form-label">Collumns range</label>
        <input type="range" class="form-range" @bind="@CollumnsNumber" @oninput="StatChange" min="0" max="10" id="customRange2" >
    </div>
    <div class="col-2">
     
      <input class="form-control" type="text" @bind="@TxtFontSize" placeholder="Font Size" >

    </div>
    <div class="col-5">
      Column
    </div>
    <div class="row" style="font-family: Comic Sans MS; font-weight: bold; 
        background-color: rgb(37, 37, 36); color:white;font-size:@(TxtFontSize)px;">
        <ColumnTextWrapper Columns="@CollumnsNumber">
           
                @Transcript
           
        </ColumnTextWrapper>
        
    </div>
  </div>



</div>


@code {

string Transcript ="";
int CollumnsNumber = 2;
int TxtFontSize = 15;
private void StatChange()
{
    StateHasChanged();

}


}
