@page "/drdblaze/openfiles"
@page "/openfiles"

@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation


<coll>
    <row  >
        <coll >
           <SNSideMenu ExpandWidth="256"  >
               <SideMenuContent>
                    <div>
                        Test Side menu Content
                    </div>
               </SideMenuContent>
              
           </SNSideMenu>
        </coll>

        <coll>
             <h3 class="testmycss" >OpenFiles</h3>
        </coll>
    
       
    </row>
    <row>
        <p>
            <Button Style="width:120px" Color="ButtonColor.Primary" @onclick="OpenZipFile">Open File </Button>

        </p>
        
    </row>
    <row>
        <coll>
            <Button Style="width:120px" Color="ButtonColor.Primary" > Previews </Button>
        </coll>
        <coll>
            <Button Style="width:120px" Color="ButtonColor.Primary"> Next </Button>
        </coll>
        
    </row>
   
</coll>


@code {


    IJSObjectReference JSmodule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //for load JS File
            JSmodule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./JSFiles/drdblazeJS.js");
        }

    }

    private async Task OpenZipFile()
    {
        await JSmodule.InvokeVoidAsync("OpenSnotesFile");

    }

    public async ValueTask DisposeAsync()
    {

        if (JSmodule != null)
        {
            await JSmodule.DisposeAsync();
        }
    }



    
}
