<li class="menu_list_item">
    <div class="menu-list-item-icon">
        <i class="list-item-icon mdi mdi-shape-rectangle-plus" />
    </div>
    @Value
</li>

@code {
    [Parameter]
    public string? Value { get; set; }

}
